{% extends "base.html" %}
{% block content %}
<div class="containerAbout">
    <h1 class=>About TechPost</h1>
<p class="about">Thanks For Checking it Out, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id vitae ea ut adipisci voluptatum quo commodi consequatur quae voluptatem, quos suscipit illum facilis labore repudiandae corrupti impedit, amet, delectus cum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia debitis laborum amet aliquid eveniet corrupti, illum id, voluptatem sed beatae veniam voluptatum alias culpa dolorum perspiciatis dignissimos? Reiciendis, harum quasi?
</p>
<img class="django-logo center" src="https://www.djangoproject.com/m/img/logos/django-logo-negative.png" alt="">
<h2>About the author</h2>
</div>

{% endblock  %}
